@import 'reset';


/* Font
================================================== */

body, p, td, div, span{
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 1.4;
}

h1, h2, h3, h4{
	line-height: 1.2;
}


h1{
	font-size: 38px;
	margin: 0 0 10px 0;
}

h2{
	font-size: 24px;
	margin: 0 0 20px 0;
}

/* Basics
================================================== */
					
body *{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
}

body{
	margin: 80px 10%;
}

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

a{
	text-decoration: none;
}

p{
	margin-bottom: 20px;
}

img{
	max-width: 100%;
	height: auto;
}

/* Specific
================================================== */

#wrapper{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

/* Responsive
================================================== */

@media (max-width: 600px){}